In [1]:
import pandas as pd
import requests
from io import StringIO

# 2 Read .csv from Multiple URLs with Pandas

- https://www.football-data.co.uk/mmz4281/2122/E0.csv
- https://www.football-data.co.uk/mmz4281/2122/E1.csv

**Link: root + season + league**

In [2]:
# link structure
'https://www.football-data.co.uk/mmz4281/'+ '2122' + '/' + 'E0' + '.csv'

'https://www.football-data.co.uk/mmz4281/2122/E0.csv'

In [3]:
# create a root variable
root = 'https://www.football-data.co.uk/mmz4281/'

## 2.1 Multiple leagues

- https://www.football-data.co.uk/mmz4281/2122/E0.csv
- https://www.football-data.co.uk/mmz4281/2122/E1.csv
- https://www.football-data.co.uk/mmz4281/2122/E2.csv
- https://www.football-data.co.uk/mmz4281/2122/E3.csv
- https://www.football-data.co.uk/mmz4281/2122/EC.csv

In [5]:
# creating list of leagues
leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frames = []
# looping through the leagues, read multiple csv and append it into a list
for league in leagues:
    url = root + '2122/' + league + '.csv'
    response = requests.get(url)
    df = pd.read_csv(StringIO(response.text))
    
    frames.append(df)

In [7]:
# length of frames
len(frames)

5

In [8]:
# show 1st, 2nd and 3rd element
frames[0].head(), frames[1].head(), frames[2].head()

(  Div        Date   Time    HomeTeam        AwayTeam  FTHG  FTAG FTR  HTHG  \
 0  E0  13/08/2021  20:00   Brentford         Arsenal     2     0   H     1
 1  E0  14/08/2021  12:30  Man United           Leeds     5     1   H     1
 2  E0  14/08/2021  15:00     Burnley        Brighton     1     2   A     1
 3  E0  14/08/2021  15:00     Chelsea  Crystal Palace     3     0   H     2
 4  E0  14/08/2021  15:00     Everton     Southampton     3     1   H     0

    HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  MaxCAHH  \
 0     0  ...     1.62  0.50      1.75      2.05   1.81   2.13     2.05
 1     0  ...     2.25 -1.00      2.05      1.75   2.17   1.77     2.19
 2     0  ...     1.62  0.25      1.79      2.15   1.81   2.14     1.82
 3     0  ...     1.94 -1.50      2.05      1.75   2.12   1.81     2.16
 4     1  ...     1.67 -0.50      2.05      1.88   2.05   1.88     2.08

    MaxCAHA  AvgCAHH  AvgCAHA
 0     2.17     1.80     2.09
 1     1.93     2.10     1.79
 2     2.19     1.79     2.12
 3     1.93     2.06     1.82
 4     1.90     2.03     1.86

 [5 rows x 106 columns],
   Div        Date   Time      HomeTeam      AwayTeam  FTHG  FTAG FTR  HTHG  \
 0  E1  06/08/2021  19:45   Bournemouth     West Brom     2     2   D     1
 1  E1  07/08/2021  15:00     Blackburn       Swansea     2     1   H     1
 2  E1  07/08/2021  15:00  Bristol City     Blackpool     1     1   D     1
 3  E1  07/08/2021  15:00       Cardiff      Barnsley     1     1   D     0
 4  E1  07/08/2021  15:00         Derby  Huddersfield     1     1   D     1

    HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  MaxCAHH  \
 0     1  ...     1.84 -0.25      2.13      1.78   2.13   1.80     2.16
 1     0  ...     1.70 -0.25      1.77      2.14   1.83   2.09     1.87
 2     0  ...     1.66 -0.25      1.90      2.00   1.92   1.99     1.92
 3     0  ...     1.62 -0.25      2.05      1.75   2.14   1.80     2.19
 4     1  ...     1.60 -0.25      1.88      2.02   1.88   2.01     1.90

    MaxCAHA  AvgCAHH  AvgCAHA
 0     1.83     2.09     1.77
 1     2.17     1.81     2.04
 2     2.01     1.89     1.95
 3     1.80     2.11     1.75
 4     2.07     1.87     1.98

 [5 rows x 106 columns],
   Div        Date   Time        HomeTeam            AwayTeam  FTHG  FTAG FTR  \
 0  E2  07/08/2021  15:00          Bolton  Milton Keynes Dons     3     3   D
 1  E2  07/08/2021  15:00       Cambridge              Oxford     1     1   D
 2  E2  07/08/2021  15:00           Crewe          Cheltenham     1     1   D
 3  E2  07/08/2021  15:00       Doncaster       AFC Wimbledon     1     2   A
 4  E2  07/08/2021  15:00  Fleetwood Town          Portsmouth     0     1   A

    HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  MaxCAHH  \
 0     1     1  ...     1.97 -0.25      1.90      1.95   1.91   1.97     1.99
 1     0     1  ...     1.86  0.25      2.08      1.73   2.12   1.78     2.12
 2     1     1  ...     1.69 -0.25      2.00      1.85   1.99   1.90     2.04
 3     0     0  ...     1.88 -0.25      2.10      1.77   2.11   1.80     2.12
 4     0     0  ...     1.60  0.00      2.05      1.80   2.09   1.82     2.13

    MaxCAHA  AvgCAHH  AvgCAHA
 0     2.01     1.90     1.92
 1     1.82     2.06     1.77
 2     1.95     1.96     1.87
 3     1.82     2.07     1.77
 4     1.86     2.07     1.78

 [5 rows x 106 columns])

## 2.2 Multiple Seasons

In [9]:
# creating list of leagues
leagues = ['E0', 'E2', 'E3']
frames = []
# looping through the leagues, read multiple csv and append it into a list
for league in leagues:
    for season in range(15,21):
        # create the url
        url = root + str(season) + str(season + 1) + '/' + league + '.csv'
        response = requests.get(url)
        df = pd.read_csv(StringIO(response.text))
        df.insert(1, 'Season', season)
        frames.append(df)

In [ ]:
# total seasons (3 league * 6 seasons)
len(frames)

18

In [14]:
# showing the sample of the first frame
frames[0].head()

,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,15,08/08/2015,Bournemouth,Aston Villa,0,1,A,0,0,...,1.79,26,-0.5,1.98,1.93,1.99,1.92,1.82,3.88,4.70
1,E0,15,08/08/2015,Chelsea,Swansea,2,2,D,2,1,...,1.99,27,-1.5,2.24,2.16,1.80,1.73,1.37,5.04,10.88
2,E0,15,08/08/2015,Everton,Watford,2,2,D,0,1,...,1.96,26,-1.0,2.28,2.18,1.76,1.71,1.75,3.76,5.44
3,E0,15,08/08/2015,Leicester,Sunderland,4,2,H,3,0,...,1.67,26,-0.5,2.00,1.95,1.96,1.90,1.79,3.74,5.10
4,E0,15,08/08/2015,Man United,Tottenham,1,0,H,1,0,...,2.01,26,-1.0,2.20,2.09,1.82,1.78,1.64,4.07,6.04